#product-overview{
    background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent), url("./images/freedom.jpg") center/cover no-repeat border-box border-box, #ff1b68;
    /* background-image: url("freedom.jpg"); */
    /* background-size: cover; */
    /* background-position:left 10% bottom 20%; */
    /* background-repeat: no-repeat; */
    /* background-origin: border-box; */
    /* background-clip: border-box; */
    /* background-attachment:fixed  ; */
    /* background-image: linear-gradient(red, blue); */
    /* background-image: radial-gradient(red, blue); */
    height: 45vh;
    width: 100vw;
    /* padding:0.625rem; */
    position: relative;
    /* border: 5px dashed red */
    margin-top: 1rem;
}



#product-overview h1{
    color: white;
    font-family:'Anton', sans-serif;
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 1.6rem;
    
}



main{
    padding-top: 2.5rem;
}

/* #slogan{
    position: absolute;
    bottom: 5%;
    left: 3%;
} */

.section-tittle{
    color: #2ddf5c;
    text-align: center;
}

h1{
    font-family:  sans-serif; 
}

/* .plan_list{
    margin: auto;
    width: 100%;
    text-align: center;
} */

.plan{
    background: #d5ffdc;
    text-align: center;
    padding:1rem;
    margin: 0.5rem 0;
    /* display:inline-block; */
    width: 100%;
    /* vertical-align: middle;  */
}

.plan-highlight{
    color:white;
    background: #19b84c;
    /* box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5) */
}

.plan__anotation{
    background: white;
    color: #19b84c;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
    padding: 0.5rem;
    border-radius: 8px 
}

.plan_features{
    list-style: none;
    margin: 0;
    padding: 0
}

.plan_feature{
    margin: 0.5rem 0;

}

.plan_title{
    color:#0e4f1f;
}

.plan_price{
    color: #858585;
}
.plan-highlight .plan_title{
    color:white;
}

.plan-highlight .plan_price{
    color:#0e4f1f;

}



#key-fetures{
    background: #ff1b68;
    margin-top:5rem;
    padding: 1rem;
}

#key-fetures .section-tittle{
    color:white;
    margin:2rem
}

.key-fetures-list{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feture{
    /* display: inline-block;   
    width: 30%; */
    vertical-align: top;
}


.key-feture-image{
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px  solid #424242;
    border-radius: 50%;
    margin: auto;
    padding: 1.25rem;
}

.key-feture-discript{
    color:white;
    font-weight: bold;
    text-align: center;
    font-size: 1.25rem;
}


.modal {
    position: fixed;
    /* display: none; */
    opacity: 0;
    transform: translateY(-3rem);
    transition: opacity 0.2s ease-in-out, transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); 
    z-index: 200;
    top: 20%;
    left: 25%;
    width: 50%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  .modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .modal__actions {
    text-align: center;
  }
  
  .modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .modal__action:hover,
  .modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
  }
  
  .modal__action--negative {
    background: red;
    border-color: red;
  }
  
  .modal__action--negative:hover,
  .modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
  }


  @media(min-wdth:40rem) and (min-height:40rem){
    #product-overview{
        height: 40vh;
        background-position: 50%, 25%;
    }
    #product-overview h1{
        font-size: 3rem;
        
    }
  }

  @media (min-width: 40rem){

  
    .plan_list{
    margin: auto;
    width: 100%;
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    }

    .plan{
        /* display: inline-block; */
        width: 30%;
        /* vertical-align: middle; */
        min-width: 13rem;
        max-width: 25rem;
        display: flex;
        flex-direction: column;
        /* margin: 0.5rem; */
        height: 28rem;
        /* flex-wrap: wrap; */
        
    }

    .plan-highlight{
        box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
        height: 30rem;
        z-index: 10;
    }

    .key-fetures-list{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .key-feture{
        /* display: inline-block;    */
        width: 30%;
        /* vertical-align: top; */
        /* max-width: 25rem; */
    }
    
}